/* plan detail*/
.detail.plan table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}
.detail.plan tr, .detail.plan th, .detail.plan td {
    border: 1px solid #ccc;
    padding: 0.5rem;
}
.detail.plan th {
    background-color: #eee;
    padding-left: 1rem;
}

.skills {
    margin: 0;
    padding: 0;
}
.buttons {
    margin-top: 1rem;
    line-height: 3.4rem;
}
.edit {
    text-align: right;
}
.like {
    text-align: left;
}

/* user detail */
.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.userName {
    text-align: right;
}
.user h2 {
    text-align: center;
}
.user li {
    margin-bottom: 5px;
}
.user a {
    color: blue;
    text-decoration: underline;
}
.userPlans, .userLikes {
    padding: 0.5rem;
}
.userDelete {
    text-align: right;
}
.userDelete input:hover {
    cursor: pointer;
}
