.post h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 50px;
}
.post h2 {
    font-size: 1.2rem;
    margin: 20px 0 10px 10px;
}
.post input[type=text], .post textarea {
    display: block;
    margin: 0 auto;
    width: 95%;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    box-shadow: none;
}
.post textarea {
    height: 10rem;
    resize: none;
}
.post input[type=submit] {
    display: block;
    margin: 1.5rem 0 0 auto;
}
.post .errors {
    color: red;
    margin: 0;
    padding: 0.5rem 1.5rem;
}
.post hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #ccc;
}